body {
    margin: 0;
    overflow-x: hidden;
}

header {
    background: #141111;
    padding: 20px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    justify-content: right;
    align-items: center;
  }

.menu-toggle {
    display: none;
    font-size: 16px;
    color: #ff572e;
    cursor: pointer;
  }

  a {
    text-decoration: none;
    color: #2943c7;
}

nav {
    display: flex;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: right;
    gap: 60px;
    padding: 0;
    margin: 0;
    padding-right: 90px;
}

nav ul li {
    display: inline;
}

nav ul li a {
    font-family: 'Press Start 2P', cursive;
    color: #ff572e;
    text-decoration: none;
    font-size: 12px;
    position: relative;
}
  
nav ul li a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: white;
    transition: width 0.3s ease-in-out;
    position: absolute;
    bottom: -3px;
    left: 50%;
    transform: translateX(-50%);
}
  
nav ul li a:hover::after {
    width: 100%;
    justify-content: center;
}

main {
    margin-top: 60px;
}

.hero-services, .hero-gallery {
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.hero-title {
    font-size: 68px;
    font-weight: bold;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    margin: 0;
    padding-bottom: 0px;
    color: #ffffff;;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(0 0 0 / 9%);
}

.content {
    position: relative;
    z-index: 1;
}

.btn {
    background: #004aad;
    padding: 12px 30px;
    color: white;
    text-decoration: none;
    border-radius: 25px;
    font-weight: bold;
    font-size: 15px;
    border: none;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.btn:hover {  
    background: #002766;
    color: #fff;
}

.section {
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    padding-top: 50px;
}

.section:nth-of-type(even) {
    background: #ddd;
}

/* HOME */
.home-container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
    padding: 40px 0;
   }
   
   .home-section {
    text-align: center;
    padding: 60px 0;
   }
   
   .home-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    flex-direction: row-reverse;
   }
   
   .home-text {
    font-family: 'Anonymous Pro', monospace;
    max-width: 60%;
    text-align: left;
   }
   
   @keyframes typing {
    from { width: 0; }
    to { width: 100%; }
  }
  
  @keyframes blink-caret {
    from, to { border-color: transparent; }
    50% { border-color: white; }
  }
  
  #line2 {
    font-family: 'Press Start 2P', cursive;
    font-size: 3rem;
    margin-bottom: 15px;
    color: #ff572e;
    line-height: 1.5;
    white-space: nowrap;
    overflow: hidden;
    border-right: 0.15em solid white;
    width: 0;
    animation: typing 4s steps(40, end), blink-caret 0.75s step-end infinite, pause 4s 4s;
    animation-iteration-count: infinite;
  }
  
  .home-text h2 {
    font-family: 'Press Start 2P', cursive;
    font-size: 3rem;
    margin-bottom: 15px;
    color: #ffffff;
    line-height: 1.5;
  }
  
  .home-text {
    width: 100%;
  }
   
   .home-text p {
    font-size: 16px;
    line-height: 1.6;
    color: white;
   }

   .home-tag {
    font-family: 'Anonymous Pro', monospace;
    display: inline-block;
    background: white;
    color: #ff572e;
    font-weight: bold;
    padding: 7px 20px;
    border-radius: 20px;
    font-size: 1rem;
}
   
   .home-image img {
    width: 100%;
    max-width: 400px;
    border-radius: 50%;
    margin-top: 35px;
   }
   
   @media (max-width: 768px) {
    .home-content {
    flex-direction: column-reverse;
    text-align: center;
    }
    .home-text {
    max-width: 100%;
    }
    .home-image img {
    max-width: 80%;
    }
   }


/* * About Section * */
.about-container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
    padding: 40px 0;
}

.about-section {
    text-align: center;
    padding: 60px 0;
}

.about-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.about-text {
    font-family: 'Anonymous Pro', monospace;
    max-width: 60%;
    text-align: left;
}

.about-text h2 {
    font-family: 'Press Start 2P', cursive;
    font-size: 2.5rem;
    margin-bottom: 15px;
    color: #ffffff;
    line-height: 1.5;
}

.about-text p {
    font-size: 16px;
    line-height: 1.6;
    color: #ff572e;
}

.about-tag {
    font-family: 'Anonymous Pro', monospace;
    display: inline-block;
    background: white;
    color: #ff572e;
    font-weight: bold;
    padding: 5px 15px;
    border-radius: 20px;
    font-size: 0.9rem;
}

.about-image img {
    width: 100%;
    max-width: 400px;
    border-radius: 50px;
}

@media (max-width: 768px) {
    .about-content {
        flex-direction: column;
        text-align: center;
    }
    .about-text {
        max-width: 100%;
    }
    .about-image img {
        max-width: 80%;
    }
}

/* * EXPERIENCES * */
#services {
    text-align: center;
    padding: 50px 20px;
    background-attachment: fixed;
}

.services-header2 {
    margin-bottom: 40px;
}

.services-header2 h2 {
    font-size: 35px;
    font-weight: bold;
    margin-top: 10px;
    color: #111;
}

.services-title {
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 20px;
    margin-top: 40px;
    text-shadow: 2px 2px 10px rgb(0 0 0 / 3%);
}

.services-container2 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.service-box2 {
    width: 250px;
    background: #F8F9FA;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgb(0 0 0 / 30%);
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
}

.service-box2:hover {
    transform: translateY(-5px);
}

.service-box2 img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.service-text2 {
    font-family: 'Anonymous Pro', monospace;
    padding: 10px;
    margin-bottom: 10px
}

.service-text2 h3 {
    font-size: 16px;
    color: #ff572e;;
    margin-bottom: 10px;
    font-weight: bold;
}

.service-text2 p {
    font-size: 12px;
    margin: 5px;
    color: #555;
}


/* * HOBBIES* */
#hobbies {
    text-align: center;
    padding: 50px 20px;
    background-attachment: fixed;
}

.hobbies-title {
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 20px;
    margin-top: 40px;
    text-shadow: 2px 2px 10px rgb(0 0 0 / 3%);
}

.hobbies-container2 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    max-width: 800px;
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.hobbies-box2 {
    width: 250px;
    background: #F8F9FA;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgb(0 0 0 / 30%);
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
    justify-content: center;
}

.hobbies-box2:hover {
    transform: translateY(-5px);
}

.hobbies-box2 img {
    width: 30px;
    height: 30px;
    margin-top: 10px;
}

.hobbies-text2 {
    font-family: 'Anonymous Pro', monospace;
    padding: 1px;
    margin-bottom: 10px;
}

.hobbies-text2 p {
    font-size: 12px;
    margin: 5px;
    color: #ff572e;
}


/* * GOALS * */
#goals {
    text-align: center;
    padding: 50px 20px;
    background-attachment: fixed;
}

.goals-title {
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 20px;
    margin-top: 40px;
    text-shadow: 2px 2px 10px rgb(0 0 0 / 3%);
}

.goals-container2 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 17px;
    max-width: 800px;
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.goals-box2 {
    width: 500px;
    background: #F8F9FA;
    border-radius: 5px;
    box-shadow: 0px 4px 8px rgb(0 0 0 / 30%);
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
    justify-content: center;
}

.goals-box2:hover {
    transform: translateY(-10px);
}

.goals-text2 {
    font-family: 'Anonymous Pro', monospace;
    padding: 5px;
    margin-bottom: 10px;
    text-align: left;
    padding-left: 10px;
    margin: auto;
}

.goals-text2 p {
    font-size: 12px;
    margin: 5px;
    color: #000000;
    font-weight:normal;
}

/* * EDUCATION * */
#education {
    text-align: center;
    padding: 90px 20px;
    background-attachment: fixed;
}

.education-title {
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 20px;
    margin-top: 40px;
    text-shadow: 2px 2px 10px rgb(0 0 0 / 3%);
}

.education-container2 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
    max-width: 800px;
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 35px;
}

.education-box2 {
    width: 700px;
    background: #F8F9FA;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgb(0 0 0 / 30%);
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
    justify-content: center;
}

.education-box2:hover {
    transform: translateY(-10px);
}

.education-text2 {
    font-family: 'Anonymous Pro', monospace;
    padding: 5px;
    margin-bottom: 10px;   
}

.education-text2 h2 {
    font-family: 'Press Start 2P', cursive;
    font-size: 20px;
    color: #ff572e;
    margin-bottom: 10px;
    font-weight: bold;
}

.education-text2 h3 {
    font-size: 18px;
    color: #000000;
    margin-bottom: 10px;
    font-weight: bold;
    padding-left: 12px;
}

.education-text2 h4 {
    font-size: 16px;
    color: #ff572e;;
    margin-bottom: 5px;
    font-weight: bold;
    margin-top: 7px;
}

.education-text2 p {
    font-size: 12px;
    margin: 5px;
    color: #000000;
    font-weight:normal;
}


/* * FOOTER * */
.container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.footer {
    background-color: #0c3b7a;
    color: #f5f3f5;
    padding: 50px 60px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.footer-logo {
    max-width: 300px;
}

.footer-logo img {
    max-width: 100%;
}

.footer-text {
    margin-top: 10px;
    font-size: 14px;
}

.footer-info {
    max-width: 300px;
    font-size: 14px;
    line-height: 1.6;
}

.footer-links {
    display: flex;
    flex-direction: column;
}

.footer-links a {
    color: #f5f3f5;
    text-decoration: none;
    margin-bottom: 10px;
    font-size: 14px;
}

.footer-links a:hover {
    text-decoration: underline;
}

.social-media {
    display: flex;
    align-items: center;
}

.social-media a {
    margin-left: 10px;
}

.footer-bottom {
    text-align: center;
    padding: 10px;    
    border-top: 1px #0c3b7a;
    font-size: 12px;
    margin-top: auto; 
}

/* Indicator Dots */
.dots-container {
    text-align: center;
    margin-top: 10px;
}

.dot {
    height: 12px;
    width: 12px;
    margin: 0 5px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
}

.dot.active {
    background-color: #0f75f8;
}

/* Terms and Condition */
.modal {
    display: none;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 69%);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: auto;
    padding: 20px;
    margin-top: 20px;
}

/* Modal Content */
.modal-content {
    background: #f5f3f5;
    padding: 30px;
    width: 90%;
    max-width: 700px;
    height: 550px;
    border-radius: 10px;
    text-align: justify;
    position: relative;
    max-height: 80vh;
    overflow-y: auto;
}

/* Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 24px;
    cursor: pointer;
    color: black;
    background: white;
    padding: 2px 10px;
    border-radius: 50%;
    border: 1px solid black;
}

/* Navigation Buttons */
.modal-nav {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.nav-btn {
    background-color: black;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.nav-btn:disabled {
    background-color: gray;
    cursor: not-allowed;
}





